{
    "swagger": "2.0",
    "info": {
        "version": "V5",
        "title": "HelloAsso API",
        "description": "See https://api.helloasso.com/v5/swagger/ui/index",
        "x-swagger-net-version": "8.3.19.502"
    },
    "host": "api.helloasso.com",
    "basePath": "/v5",
    "schemes": [
        "https"
    ],
    "paths": {
        "/organizations/{organizationSlug}/checkout-intents/{checkoutIntentId}": {
            "get": {
                "tags": [
                    "Checkout intents management"
                ],
                "summary": "Retrieve a checkout intent, with the order if the payment has been authorized.",
                "description": "<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> Checkout<br/><br/>",
                "operationId": "OrganizationCheckoutIntents_GetCheckoutIntent",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkoutIntentId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkout intent found",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Carts.CheckoutIntentResponse"
                        },
                        "examples": {
                            "application/json": {
                                "metadata": {
                                    "payment_ref": 150,
                                    "contributor_id": "1541"
                                },
                                "order": {
                                    "payer": {
                                        "email": "john.doe@test.com",
                                        "address": "23 rue du palmier",
                                        "city": "Paris",
                                        "zipCode": "75000",
                                        "country": "FRA",
                                        "company": "Hello Asso",
                                        "dateOfBirth": "1986-07-06T00:00:00+02:00",
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "items": [
                                        {
                                            "payments": [
                                                {
                                                    "id": 159875,
                                                    "shareAmount": 10000
                                                },
                                                {
                                                    "id": 159876,
                                                    "shareAmount": 10000
                                                },
                                                {
                                                    "id": 159877,
                                                    "shareAmount": 10000
                                                }
                                            ],
                                            "name": "Adhesion Football",
                                            "user": {
                                                "firstName": "John",
                                                "lastName": "Doe"
                                            },
                                            "priceCategory": "Fixed",
                                            "discount": {
                                                "code": "UNLOCK1 : -5€",
                                                "amount": 3000
                                            },
                                            "options": [
                                                {
                                                    "name": "Casquette",
                                                    "amount": 300,
                                                    "priceCategory": "Fixed",
                                                    "isRequired": true,
                                                    "customFields": [
                                                        {
                                                            "id": 0,
                                                            "name": "Couleur",
                                                            "type": "ChoiceList",
                                                            "answer": "Rouge"
                                                        }
                                                    ],
                                                    "optionId": 12580
                                                },
                                                {
                                                    "name": "T-Shirt",
                                                    "amount": 700,
                                                    "priceCategory": "Fixed",
                                                    "isRequired": true,
                                                    "customFields": [
                                                        {
                                                            "id": 0,
                                                            "name": "Taille",
                                                            "type": "ChoiceList",
                                                            "answer": "M"
                                                        }
                                                    ],
                                                    "optionId": 12581
                                                }
                                            ],
                                            "ticketUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/ticket?ticketId=12578&ag=12578",
                                            "qrCode": "MTI1Nzg6NjM3MTIwMjQwMjIwMDAwMDAw",
                                            "tierDescription": "tierDescription",
                                            "tierId": 168965,
                                            "comment": "comment1",
                                            "id": 12578,
                                            "amount": 30000,
                                            "type": "Membership",
                                            "initialAmount": 30000,
                                            "state": "Processed"
                                        },
                                        {
                                            "payments": [
                                                {
                                                    "id": 159875,
                                                    "shareAmount": 1000
                                                }
                                            ],
                                            "user": {
                                                "firstName": "John",
                                                "lastName": "Doe"
                                            },
                                            "priceCategory": "Fixed",
                                            "qrCode": "MTI1Nzk6NjM3MTIwMjQwMjIwMDAwMDAw",
                                            "tierDescription": "tierDescription",
                                            "comment": "comment2",
                                            "id": 12579,
                                            "amount": 1000,
                                            "type": "Donation",
                                            "initialAmount": 1000,
                                            "state": "Processed"
                                        }
                                    ],
                                    "payments": [
                                        {
                                            "items": [
                                                {
                                                    "id": 12578,
                                                    "shareAmount": 11000,
                                                    "shareItemAmount": 10000,
                                                    "shareOptionsAmount": 1000
                                                },
                                                {
                                                    "id": 12579,
                                                    "shareAmount": 1000,
                                                    "shareItemAmount": 1000
                                                }
                                            ],
                                            "cashOutDate": "2020-02-15T17:27:02+01:00",
                                            "cashOutState": "CashedOut",
                                            "paymentReceiptUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/paiement-attestation/12578",
                                            "fiscalReceiptUrl": "https://www.helloasso.com/get-fisc.aspx?dau=159875",
                                            "id": 159875,
                                            "amount": 11000,
                                            "date": "2019-12-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 1,
                                            "state": "Authorized",
                                            "meta": {
                                                "createdAt": "2019-12-15T17:27:02+01:00",
                                                "updatedAt": "2019-12-15T17:27:02+01:00"
                                            }
                                        },
                                        {
                                            "items": [
                                                {
                                                    "id": 12578,
                                                    "shareAmount": 10000,
                                                    "shareItemAmount": 10000,
                                                    "shareOptionsAmount": 0
                                                }
                                            ],
                                            "cashOutState": "Transfered",
                                            "paymentReceiptUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/paiement-attestation/12578",
                                            "fiscalReceiptUrl": "https://www.helloasso.com/get-fisc.aspx?dau=159876",
                                            "id": 159876,
                                            "amount": 9000,
                                            "date": "2020-01-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 1,
                                            "state": "Authorized",
                                            "meta": {
                                                "createdAt": "2020-01-15T17:27:02+01:00",
                                                "updatedAt": "2020-01-15T17:27:02+01:00"
                                            }
                                        },
                                        {
                                            "items": [
                                                {
                                                    "id": 12578,
                                                    "shareAmount": 10000,
                                                    "shareItemAmount": 10000,
                                                    "shareOptionsAmount": 0
                                                }
                                            ],
                                            "id": 159877,
                                            "amount": 9000,
                                            "date": "2020-02-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 1,
                                            "state": "Pending",
                                            "meta": {
                                                "createdAt": "2020-02-15T17:27:02+01:00",
                                                "updatedAt": "2020-02-15T17:27:02+01:00"
                                            },
                                            "refundOperations": [
                                                {
                                                    "id": 1,
                                                    "amount": 2000,
                                                    "amountTip": 200,
                                                    "status": "Processed",
                                                    "meta": {
                                                        "createdAt": "2024-07-22T15:22:56.9742394+02:00",
                                                        "updatedAt": "2024-07-23T15:22:56.9742394+02:00"
                                                    }
                                                }
                                            ]
                                        }
                                    ],
                                    "amount": {
                                        "total": 10000,
                                        "vat": 0,
                                        "discount": 3000
                                    },
                                    "id": 12578,
                                    "date": "2019-12-15T17:27:02+01:00",
                                    "formSlug": "formulaire-exemple",
                                    "formType": "Event",
                                    "organizationName": "name",
                                    "organizationSlug": "association-exemple",
                                    "organizationType": "Association1901Rig",
                                    "organizationIsUnderColucheLaw": false,
                                    "meta": {
                                        "createdAt": "2019-12-15T17:27:02+01:00",
                                        "updatedAt": "2019-12-15T17:27:02+01:00"
                                    },
                                    "isAnonymous": false,
                                    "isAmountHidden": false
                                },
                                "id": 123,
                                "redirectUrl": "https://www.helloasso.com/associations/association-exemple/checkout/278fd1c7a2d642608ee8d7d4f35da72b"
                            }
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/checkout-intents": {
            "post": {
                "tags": [
                    "Checkout intents management"
                ],
                "summary": "Init a checkout.",
                "description": "<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> Checkout<br/><br/>",
                "operationId": "OrganizationCheckoutIntents_PostInitCheckout",
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Carts.InitCheckoutBody"
                        }
                    },
                    {
                        "name": "cancellationToken",
                        "in": "header",
                        "required": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Checkout intent initiated successfully",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Carts.InitCheckoutResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 123,
                                "redirectUrl": "https://www.helloasso.com/associations/association-exemple/checkout/264b4f0f49b44a88adb5e2ea1094c634"
                            }
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/directory/forms": {
            "post": {
                "tags": [
                    "Directory"
                ],
                "summary": "Get all forms by form filters and organization filters",
                "description": "Allows you to retrieve a list of all forms visible (only) matching all the filters in the directory until it is synchronized (using the continuationToken).\r\nIf filters are left empty, no filter is applied.\r\nResults are ordered by Api visibility update date ascending.\r\nOnce the list is synchronized, only forms with an Api visibility update date greater than the last form sent are returned (still using the continuationToken).\r\nThis concerns the new forms to be inserted (wishing to appear in the directory) as well as the old ones to be deleted (no longer wishing to appear in the directory).\r\nThe total number of results (or pages) isn't retrievable, so the pagination information returned will always say -1.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> FormOpenDirectory<br/><br/>",
                "operationId": "Directory_PostFormsListRequest",
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Body which contains the filters to apply",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Directory.ListFormsRequest"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Continuation Token from which we wish to retrieve results",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get Form List",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Common.ResultsWithPaginationModelOfHelloAsso.Api.V5.Models.Directory.SynchronizableFormModel"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "action": "Insert",
                                    "record": {
                                        "financialGoal": 200000,
                                        "financialGoalPercentageReached": 50,
                                        "maxPrice": 6000,
                                        "minPrice": 1000,
                                        "organizationPlace": {
                                            "address": "organizationAddress",
                                            "city": "organizationCity",
                                            "zipCode": "organizationZipCode",
                                            "country": "FRA",
                                            "geoLocation": {
                                                "latitude": 50.0,
                                                "longitude": 100.0
                                            }
                                        },
                                        "remainingEntries": 10,
                                        "organizationLogo": "https://cdn.helloasso.com/img/logos/organizationLogo",
                                        "organizationName": "organizationName",
                                        "activityType": "Cours",
                                        "activityTypeId": 4,
                                        "place": {
                                            "address": "Café du théatre",
                                            "name": "Theatre de la place",
                                            "city": "Dax",
                                            "zipCode": "40180",
                                            "country": "FRA",
                                            "geoLocation": {
                                                "latitude": 45.0,
                                                "longitude": 66.0
                                            }
                                        },
                                        "banner": {
                                            "fileName": "banner.jpg",
                                            "publicUrl": "https://cdn.helloasso.com/img/photos/evenements/banner.jpg"
                                        },
                                        "currency": "EUR",
                                        "description": "Description de mon événement",
                                        "startDate": "2024-07-24T15:22:57.0382237+02:00",
                                        "endDate": "2024-07-24T15:22:57.0382237+02:00",
                                        "meta": {
                                            "createdAt": "2024-07-24T15:22:57.0382237+02:00",
                                            "updatedAt": "2024-07-24T15:22:57.0382237+02:00"
                                        },
                                        "state": "Public",
                                        "title": "Nom de mon événement",
                                        "widgetButtonUrl": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple/widget-bouton",
                                        "widgetFullUrl": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple/widget",
                                        "widgetVignetteHorizontalUrl": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple/widget-vignette-horizontale",
                                        "widgetVignetteVerticalUrl": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple/widget-vignette",
                                        "formSlug": "formulaire-exemple",
                                        "formType": "Event",
                                        "url": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple?utm_source=partenaire&utm_medium=referral&utm_campaign=API&utm_content=campagne",
                                        "organizationSlug": "organizationSlug"
                                    }
                                },
                                {
                                    "action": "Delete",
                                    "record": {
                                        "formSlug": "formulaire-exemple",
                                        "formType": "Event",
                                        "url": "https://www.helloasso.com/associations/organizationSlug/evenements/formulaire-exemple?utm_source=partenaire&utm_medium=referral&utm_campaign=API&utm_content=campagne",
                                        "organizationSlug": "organizationSlug"
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/directory/organizations": {
            "post": {
                "tags": [
                    "Directory"
                ],
                "summary": "Get all organization by organization filters",
                "description": "Allows you to retrieve a list of all organizations visible (only) matching all the filters in the directory until it is synchronized (using the continuationToken).\r\nIf filters are left empty, no filter is applied.\r\nResults are ordered by Api visibility update date ascending.\r\nOnce the list is synchronized, only organizations with an Api visibility update date greater than the last organization sent are returned (still using the continuationToken).\r\nThis concerns the new organizations to be inserted (wishing to appear in the directory) as well as the old ones to be deleted (no longer wishing to appear in the directory).\r\nThe total number of results (or pages) isn't retrievable, so the pagination information returned will always say -1.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> OrganizationOpenDirectory<br/><br/>",
                "operationId": "Directory_PostOrganizationsListRequest",
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Body which contains the filters to apply",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Directory.ListOrganizationsRequest"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Continuation Token from which we wish to retrieve results",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get Organization List",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Common.ResultsWithPaginationModelOfHelloAsso.Api.V5.Models.Directory.SynchronizableOrganizationModel"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "action": "Insert",
                                    "record": {
                                        "linkedPartners": [
                                            "FFBB"
                                        ],
                                        "banner": "https://cdn.helloasso.com/img/photos/organizationBanner",
                                        "fiscalReceiptEligibility": false,
                                        "fiscalReceiptIssuanceEnabled": true,
                                        "type": "Association1901",
                                        "category": "organizationCategoryLabel",
                                        "rnaNumber": "X123456789",
                                        "logo": "https://cdn.helloasso.com/img/logos/organizationLogo",
                                        "name": "organizationName",
                                        "city": "organizationCity",
                                        "zipCode": "organizationZipCode",
                                        "description": "organizationDescription",
                                        "updateDate": "2024-07-24T15:22:57.0527615+02:00",
                                        "url": "https://www.helloasso.com/associations/organizationSlug?utm_source=partenaire&utm_medium=referral&utm_campaign=API&utm_content=association",
                                        "organizationSlug": "organizationSlug"
                                    }
                                },
                                {
                                    "action": "Delete",
                                    "record": {
                                        "url": "https://www.helloasso.com/associations/organizationSlug?utm_source=partenaire&utm_medium=referral&utm_campaign=API&utm_content=association",
                                        "organizationSlug": "organizationSlug"
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/forms/{formType}/action/quick-create": {
            "post": {
                "tags": [
                    "Forms"
                ],
                "summary": "Create a simplified event for an Organism",
                "description": "This is a limited service to create an event with only limited information and few simple pricing.\r\nEvent created this way can be further edited with other services<br/><br/><b>Your token must have one of these roles : </b><br/>OrganizationAdmin<br/><br/>If you are an <b>association</b>, you can obtain these roles with your client.<br/>If you are a <b>partner</b>, you can obtain these roles by the authorize flow.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> FormAdministration<br/><br/>",
                "operationId": "FormAdministration_PostQuickCreateEvent",
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "description": "The organization Slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formType",
                        "in": "path",
                        "description": "The form type to create - only Event type is supported",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "CrowdFunding",
                            "Membership",
                            "Event",
                            "Donation",
                            "PaymentForm",
                            "Checkout",
                            "Shop"
                        ]
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The body of the request.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Forms.FormQuickCreateRequest"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event Successfully created",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Forms.FormQuickCreateModel"
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/forms/{formType}/{formSlug}/public": {
            "get": {
                "tags": [
                    "Forms"
                ],
                "summary": "Get detailed public data about a specific form",
                "description": "This api allows you to retrieve all public information of a form whether it is Crowdfunding, Membership, Event, Donation...<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessPublicData<br/><br/>",
                "operationId": "PublicForms_GetFormPublic",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formType",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "CrowdFunding",
                            "Membership",
                            "Event",
                            "Donation",
                            "PaymentForm",
                            "Checkout",
                            "Shop"
                        ]
                    },
                    {
                        "name": "formSlug",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get a Form",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Forms.FormPublicModel"
                        },
                        "examples": {
                            "application/json": {
                                "organizationLogo": "https://cdn.helloasso.com/img/logos/association logo example.jpg",
                                "organizationName": "Association Exemple",
                                "tiers": [
                                    {
                                        "id": 1,
                                        "label": "mon tarif 1",
                                        "description": "description 1",
                                        "tierType": "Registration",
                                        "price": 1000,
                                        "vatRate": 0.0,
                                        "paymentFrequency": "Single",
                                        "maxPerUser": 5,
                                        "isEligibleTaxReceipt": true
                                    },
                                    {
                                        "id": 2,
                                        "label": "mon tarif 2",
                                        "description": "description 2",
                                        "tierType": "Registration",
                                        "price": 1000,
                                        "vatRate": 0.0,
                                        "paymentFrequency": "Single",
                                        "maxPerUser": 5,
                                        "isEligibleTaxReceipt": true
                                    },
                                    {
                                        "id": 3,
                                        "label": "mon tarif 3",
                                        "description": "description 3",
                                        "tierType": "Registration",
                                        "price": 1000,
                                        "vatRate": 0.0,
                                        "paymentFrequency": "Single",
                                        "maxPerUser": 5,
                                        "isEligibleTaxReceipt": true
                                    },
                                    {
                                        "id": 4,
                                        "label": "mon tarif 4",
                                        "description": "description 4",
                                        "tierType": "Registration",
                                        "price": 1000,
                                        "vatRate": 0.0,
                                        "paymentFrequency": "Single",
                                        "maxPerUser": 5,
                                        "isEligibleTaxReceipt": true
                                    },
                                    {
                                        "id": 5,
                                        "label": "mon tarif 5",
                                        "description": "description 5",
                                        "tierType": "Registration",
                                        "price": 1000,
                                        "vatRate": 0.0,
                                        "paymentFrequency": "Single",
                                        "maxPerUser": 5,
                                        "isEligibleTaxReceipt": true
                                    }
                                ],
                                "activityType": "ActivityType",
                                "activityTypeId": 12,
                                "place": {
                                    "address": "23 rue du palmier",
                                    "name": "Café du théatre",
                                    "city": "Paris",
                                    "zipCode": "75000",
                                    "country": "FRA",
                                    "geoLocation": {
                                        "latitude": 22.56,
                                        "longitude": 44.87
                                    }
                                },
                                "saleEndDate": "2024-07-26T15:22:57.1015122+02:00",
                                "saleStartDate": "2024-07-22T15:22:57.1015122+02:00",
                                "personalizedMessage": "Merci pour votre participation !",
                                "banner": {
                                    "fileName": "thumbnail 1",
                                    "publicUrl": "https://cdn.helloasso.com/img/photos/evenements/thumbnail 1"
                                },
                                "currency": "EUR",
                                "description": "Description de mon événement",
                                "startDate": "2024-07-24T15:15:57.1181439+02:00",
                                "endDate": "2024-07-31T15:22:57.1015122+02:00",
                                "logo": {
                                    "fileName": "image 1",
                                    "publicUrl": "https://cdn.helloasso.com/img/photos/evenements/image 1"
                                },
                                "meta": {
                                    "createdAt": "2024-07-24T15:07:57.1015122+02:00",
                                    "updatedAt": "2024-07-24T15:07:57.1181439+02:00"
                                },
                                "state": "Public",
                                "title": "Nom de mon événement",
                                "widgetButtonUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-bouton",
                                "widgetFullUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget",
                                "widgetVignetteHorizontalUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-vignette-horizontale",
                                "widgetVignetteVerticalUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-vignette",
                                "formSlug": "formulaire-exemple",
                                "formType": "Event",
                                "url": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple",
                                "organizationSlug": "association-exemple"
                            }
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/formTypes": {
            "get": {
                "tags": [
                    "Forms"
                ],
                "summary": "Get a list of formTypes for an organization",
                "description": "List all the formTypes where the organization has at least one form. This also can be filtered by states.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessPublicData<br/><br/>",
                "operationId": "PublicForms_GetFormTypesList",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "description": "The organization Slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "states",
                        "in": "query",
                        "description": "List of Form States to filter with. If none specified, it won't filter results.",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get form types created by the organization",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/HelloAsso.Api.V5.Models.Enums.FormType"
                            },
                            "xml": {
                                "name": "FormType",
                                "wrapped": true
                            },
                            "type": "array"
                        },
                        "examples": {
                            "application/json": [
                                "Donation",
                                "Event"
                            ]
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/forms": {
            "get": {
                "tags": [
                    "Forms"
                ],
                "summary": "Get the forms of a specific organization",
                "description": "List all forms matching the filtered states and types.\r\nIf filters are left empty, no filter is applied.\r\nResults are ordered by creation date descending.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessPublicData<br/><br/>",
                "operationId": "PublicForms_GetFormListByOrganization",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "description": "The organization Slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "states",
                        "in": "query",
                        "description": "States to filter",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "formTypes",
                        "in": "query",
                        "description": "Types to filter",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The page of results to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Continuation Token from which we wish to retrieve results",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get Form List",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Common.ResultsWithPaginationModelOfHelloAsso.Api.V5.Models.Forms.FormLightModel"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "banner": {
                                        "fileName": "banner.jpg",
                                        "publicUrl": "https://cdn.helloasso.com/img/photos/evenements/banner.jpg"
                                    },
                                    "currency": "EUR",
                                    "description": "Description de mon événement",
                                    "startDate": "2020-01-05T17:00:00+01:00",
                                    "endDate": "2020-01-05T22:30:00+01:00",
                                    "meta": {
                                        "createdAt": "2019-09-12T16:35:30+02:00",
                                        "updatedAt": "2024-07-24T15:07:57.1339678+02:00"
                                    },
                                    "state": "Public",
                                    "title": "Nom de mon événement",
                                    "widgetButtonUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-bouton",
                                    "widgetFullUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget",
                                    "widgetVignetteHorizontalUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-vignette-horizontale",
                                    "widgetVignetteVerticalUrl": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple/widget-vignette",
                                    "formSlug": "formulaire-exemple",
                                    "formType": "Event",
                                    "url": "https://www.helloasso.com/associations/association-exemple/evenements/formulaire-exemple",
                                    "organizationSlug": "association-exemple"
                                },
                                {
                                    "banner": {
                                        "fileName": "banner.jpg",
                                        "publicUrl": "https://cdn.helloasso.com/img/photos/adhesions/banner.jpg"
                                    },
                                    "currency": "EUR",
                                    "description": "Description de mon formulaire d'adhésion",
                                    "startDate": "2018-12-31T23:00:00+01:00",
                                    "endDate": "2020-06-30T00:00:00+02:00",
                                    "meta": {
                                        "createdAt": "2019-09-12T16:35:30+02:00",
                                        "updatedAt": "2024-07-24T15:07:57.1339678+02:00"
                                    },
                                    "state": "Public",
                                    "title": "Nom de mon formulaire d'adhésion",
                                    "widgetButtonUrl": "https://www.helloasso.com/associations/association-exemple/adhesions/formulaire-exemple/widget-bouton",
                                    "widgetFullUrl": "https://www.helloasso.com/associations/association-exemple/adhesions/formulaire-exemple/widget",
                                    "widgetVignetteHorizontalUrl": "https://www.helloasso.com/associations/association-exemple/adhesions/formulaire-exemple/widget-vignette-horizontale",
                                    "widgetVignetteVerticalUrl": "https://www.helloasso.com/associations/association-exemple/adhesions/formulaire-exemple/widget-vignette",
                                    "formSlug": "formulaire-exemple",
                                    "formType": "Membership",
                                    "url": "https://www.helloasso.com/associations/association-exemple/adhesions/formulaire-exemple",
                                    "organizationSlug": "association-exemple"
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/items/{itemId}": {
            "get": {
                "tags": [
                    "Orders - Items"
                ],
                "summary": "Get the detail of an item contained in an order",
                "description": "<br/><br/><b>Your token must have one of these roles : </b><br/>FormAdmin<br/>OrganizationAdmin<br/><br/>If you are an <b>association</b>, you can obtain these roles with your client.<br/>If you are a <b>partner</b>, you can obtain these roles by the authorize flow.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessTransactions<br/><br/>",
                "operationId": "Orders_GetItem",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "The item ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "withDetails",
                        "in": "query",
                        "description": "Set to true to return CustomFields and Options",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get order item",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Statistics.ItemDetail"
                        },
                        "examples": {
                            "application/json": {
                                "order": {
                                    "id": 12578,
                                    "date": "2019-12-15T17:27:02+01:00",
                                    "formSlug": "formulaire-exemple",
                                    "formType": "Event",
                                    "organizationName": "name",
                                    "organizationSlug": "association-exemple",
                                    "organizationType": "Association1901",
                                    "organizationIsUnderColucheLaw": false,
                                    "formName": "name",
                                    "meta": {
                                        "createdAt": "2019-12-15T17:27:02+01:00",
                                        "updatedAt": "2019-12-15T17:27:02+01:00"
                                    },
                                    "isAnonymous": false,
                                    "isAmountHidden": false
                                },
                                "payer": {
                                    "email": "john.doe@test.com",
                                    "address": "23 rue du palmier",
                                    "city": "Paris",
                                    "zipCode": "75000",
                                    "country": "FRA",
                                    "company": "Hello Asso",
                                    "dateOfBirth": "1986-07-06T00:00:00+02:00",
                                    "firstName": "John",
                                    "lastName": "Doe"
                                },
                                "payments": [
                                    {
                                        "cashOutState": "CashedOut",
                                        "shareAmount": 10000,
                                        "id": 159875,
                                        "amount": 11000,
                                        "date": "2019-12-15T17:27:02+01:00",
                                        "paymentMeans": "Card",
                                        "installmentNumber": 1,
                                        "state": "Authorized",
                                        "meta": {
                                            "createdAt": "2019-12-15T17:27:02+01:00",
                                            "updatedAt": "2019-12-15T17:27:02+01:00"
                                        }
                                    },
                                    {
                                        "cashOutState": "Transfered",
                                        "shareAmount": 30000,
                                        "id": 159876,
                                        "amount": 9000,
                                        "date": "2020-01-15T17:27:02+01:00",
                                        "paymentMeans": "Card",
                                        "installmentNumber": 2,
                                        "state": "Authorized",
                                        "meta": {
                                            "createdAt": "2020-01-15T17:27:02+01:00",
                                            "updatedAt": "2020-01-15T17:27:02+01:00"
                                        }
                                    },
                                    {
                                        "shareAmount": 30000,
                                        "id": 159877,
                                        "amount": 9000,
                                        "date": "2020-02-15T17:27:02+01:00",
                                        "paymentMeans": "Card",
                                        "installmentNumber": 3,
                                        "state": "Pending",
                                        "meta": {
                                            "createdAt": "2020-02-15T17:27:02+01:00",
                                            "updatedAt": "2020-02-15T17:27:02+01:00"
                                        },
                                        "refundOperations": [
                                            {
                                                "id": 1,
                                                "amount": 2000,
                                                "amountTip": 200,
                                                "status": "Processed",
                                                "meta": {
                                                    "createdAt": "2024-07-22T15:22:57.1479845+02:00",
                                                    "updatedAt": "2024-07-23T15:22:57.1479845+02:00"
                                                }
                                            }
                                        ]
                                    }
                                ],
                                "name": "Adhesion Football",
                                "user": {
                                    "firstName": "John",
                                    "lastName": "Doe"
                                },
                                "priceCategory": "Fixed",
                                "discount": {
                                    "code": "DISC30 : -30€",
                                    "amount": 3000
                                },
                                "customFields": [
                                    {
                                        "id": 0,
                                        "name": "BirthDate",
                                        "type": "Date",
                                        "answer": "1978-09-15"
                                    },
                                    {
                                        "id": 0,
                                        "name": "ZipCode",
                                        "type": "Zipcode",
                                        "answer": "33600"
                                    }
                                ],
                                "options": [
                                    {
                                        "name": "T-Shirt",
                                        "amount": 700,
                                        "priceCategory": "Fixed",
                                        "isRequired": false,
                                        "customFields": [
                                            {
                                                "id": 0,
                                                "name": "Couleur",
                                                "type": "ChoiceList",
                                                "answer": "Bleue"
                                            }
                                        ],
                                        "optionId": 12581
                                    },
                                    {
                                        "name": "Casquette",
                                        "amount": 300,
                                        "priceCategory": "Fixed",
                                        "isRequired": false,
                                        "optionId": 12580
                                    }
                                ],
                                "qrCode": "MTI1Nzg6NjM3MTIwMjQwMjIwMDAwMDAw",
                                "tierDescription": "tierDescription",
                                "tierId": 168965,
                                "comment": "comment",
                                "id": 12578,
                                "amount": 30000,
                                "type": "Membership",
                                "initialAmount": 30000,
                                "state": "Processed"
                            }
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/forms/{formType}/{formSlug}/items": {
            "get": {
                "tags": [
                    "Orders - Items"
                ],
                "summary": "Get a list of items \"sold\" in a form",
                "description": "<br/><br/><b>Your token must have one of these roles : </b><br/>FormAdmin<br/>OrganizationAdmin<br/><br/>If you are an <b>association</b>, you can obtain these roles with your client.<br/>If you are a <b>partner</b>, you can obtain these roles by the authorize flow.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessTransactions<br/><br/>",
                "operationId": "Orders_GetFormItems",
                "consumes": [],
                "produces": [
                    "application/json",
                    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "description": "The organization slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formSlug",
                        "in": "path",
                        "description": "The form slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "formType",
                        "in": "path",
                        "description": "The form type CrowdFunding, Membership, Event, Donation, PaymentForm, Checkout, Shop",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "CrowdFunding",
                            "Membership",
                            "Event",
                            "Donation",
                            "PaymentForm",
                            "Checkout",
                            "Shop"
                        ]
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "First Date Filter",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End Date Filter",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userSearchKey",
                        "in": "query",
                        "description": "Filter results on user or payer first name, last name or email",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The page of results to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Continuation Token from which we wish to retrieve results",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tierTypes",
                        "in": "query",
                        "description": "The type of tiers",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "itemStates",
                        "in": "query",
                        "description": "The item states",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "tierName",
                        "in": "query",
                        "description": "The name of a tier",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "withDetails",
                        "in": "query",
                        "description": "Set to true to return CustomFields and Options",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort forms items by ascending or descending order. Default is descending",
                        "required": false,
                        "type": "string",
                        "default": "Desc",
                        "enum": [
                            "Asc",
                            "Desc"
                        ]
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Sort forms items by a specific field (Date or UpdateDate). Default is date",
                        "required": false,
                        "type": "string",
                        "default": "Date",
                        "enum": [
                            "Date",
                            "UpdateDate",
                            "CreationDate"
                        ]
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get form order items",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Common.ResultsWithPaginationModelOfHelloAsso.Api.V5.Models.Statistics.Item"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "order": {
                                        "id": 12578,
                                        "date": "2019-12-15T17:27:02+01:00",
                                        "formSlug": "formulaire-exemple",
                                        "formType": "Event",
                                        "organizationName": "name",
                                        "organizationSlug": "association-exemple",
                                        "organizationType": "Association1901",
                                        "organizationIsUnderColucheLaw": false,
                                        "formName": "name",
                                        "meta": {
                                            "createdAt": "2019-12-15T17:27:02+01:00",
                                            "updatedAt": "2019-12-15T17:27:02+01:00"
                                        },
                                        "isAnonymous": false,
                                        "isAmountHidden": false
                                    },
                                    "payer": {
                                        "email": "john.doe@test.com",
                                        "address": "23 rue du palmier",
                                        "city": "Paris",
                                        "zipCode": "75000",
                                        "country": "FRA",
                                        "company": "Hello Asso",
                                        "dateOfBirth": "1986-07-06T00:00:00+02:00",
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "payments": [
                                        {
                                            "cashOutState": "CashedOut",
                                            "shareAmount": 10000,
                                            "id": 159875,
                                            "amount": 11000,
                                            "date": "2019-12-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 1,
                                            "state": "Authorized",
                                            "meta": {
                                                "createdAt": "2019-12-15T17:27:02+01:00",
                                                "updatedAt": "2019-12-15T17:27:02+01:00"
                                            }
                                        },
                                        {
                                            "cashOutState": "Transfered",
                                            "shareAmount": 30000,
                                            "id": 159876,
                                            "amount": 9000,
                                            "date": "2020-01-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 2,
                                            "state": "Authorized",
                                            "meta": {
                                                "createdAt": "2020-01-15T17:27:02+01:00",
                                                "updatedAt": "2020-01-15T17:27:02+01:00"
                                            }
                                        },
                                        {
                                            "shareAmount": 30000,
                                            "id": 159877,
                                            "amount": 9000,
                                            "date": "2020-02-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 3,
                                            "state": "Pending",
                                            "meta": {
                                                "createdAt": "2020-02-15T17:27:02+01:00",
                                                "updatedAt": "2020-02-15T17:27:02+01:00"
                                            },
                                            "refundOperations": [
                                                {
                                                    "id": 1,
                                                    "amount": 2000,
                                                    "amountTip": 200,
                                                    "status": "Processed",
                                                    "meta": {
                                                        "createdAt": "2024-07-22T15:22:57.1479845+02:00",
                                                        "updatedAt": "2024-07-23T15:22:57.1479845+02:00"
                                                    }
                                                }
                                            ]
                                        }
                                    ],
                                    "name": "Adhesion Football",
                                    "user": {
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "priceCategory": "Fixed",
                                    "discount": {
                                        "code": "DISC30 : -30€",
                                        "amount": 3000
                                    },
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "name": "BirthDate",
                                            "type": "Date",
                                            "answer": "1978-09-15"
                                        },
                                        {
                                            "id": 0,
                                            "name": "ZipCode",
                                            "type": "Zipcode",
                                            "answer": "33600"
                                        }
                                    ],
                                    "options": [
                                        {
                                            "name": "T-Shirt",
                                            "amount": 700,
                                            "priceCategory": "Fixed",
                                            "isRequired": false,
                                            "customFields": [
                                                {
                                                    "id": 0,
                                                    "name": "Couleur",
                                                    "type": "ChoiceList",
                                                    "answer": "Bleue"
                                                }
                                            ],
                                            "optionId": 12581
                                        },
                                        {
                                            "name": "Casquette",
                                            "amount": 300,
                                            "priceCategory": "Fixed",
                                            "isRequired": false,
                                            "optionId": 12580
                                        }
                                    ],
                                    "qrCode": "MTI1Nzg6NjM3MTIwMjQwMjIwMDAwMDAw",
                                    "tierDescription": "tierDescription",
                                    "tierId": 168965,
                                    "comment": "comment",
                                    "id": 12578,
                                    "amount": 30000,
                                    "type": "Membership",
                                    "initialAmount": 30000,
                                    "state": "Canceled"
                                },
                                {
                                    "order": {
                                        "id": 12578,
                                        "date": "2019-12-15T17:27:02+01:00",
                                        "formSlug": "formulaire-exemple",
                                        "formType": "Event",
                                        "organizationName": "name",
                                        "organizationSlug": "association-exemple",
                                        "organizationType": "Association1901",
                                        "organizationIsUnderColucheLaw": false,
                                        "formName": "name",
                                        "meta": {
                                            "createdAt": "2019-12-15T17:27:02+01:00",
                                            "updatedAt": "2019-12-15T17:27:02+01:00"
                                        },
                                        "isAnonymous": false,
                                        "isAmountHidden": false
                                    },
                                    "payer": {
                                        "email": "john.doe@test.com",
                                        "address": "23 rue du palmier",
                                        "city": "Paris",
                                        "zipCode": "75000",
                                        "country": "FRA",
                                        "company": "Hello Asso",
                                        "dateOfBirth": "1986-07-06T00:00:00+02:00",
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "payments": [
                                        {
                                            "cashOutState": "Transfered",
                                            "shareAmount": 1000,
                                            "id": 159875,
                                            "amount": 11000,
                                            "date": "2019-12-15T17:27:02+01:00",
                                            "paymentMeans": "Card",
                                            "installmentNumber": 1,
                                            "state": "Authorized",
                                            "meta": {
                                                "createdAt": "2019-12-15T17:27:02+01:00",
                                                "updatedAt": "2019-12-15T17:27:02+01:00"
                                            }
                                        }
                                    ],
                                    "user": {
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "priceCategory": "Fixed",
                                    "qrCode": "MTI1Nzk6NjM3MTIwMjQwMjIwMDAwMDAw",
                                    "tierDescription": "tierDescription",
                                    "comment": "comment",
                                    "id": 12579,
                                    "amount": 1000,
                                    "type": "Donation",
                                    "initialAmount": 1000,
                                    "state": "Processed"
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "The JWT token hasn't the privileges or Roles for this action"
                    },
                    "401": {
                        "description": "Unauthorized, you must add a valid JWT into Authorization Header with the format : `Bearer TOKEN`"
                    }
                },
                "security": [
                    {
                        "User": []
                    },
                    {
                        "Client": []
                    }
                ]
            }
        },
        "/organizations/{organizationSlug}/items": {
            "get": {
                "tags": [
                    "Orders - Items"
                ],
                "summary": "Get a list of items sold by an organization",
                "description": "<br/><br/><b>Your token must have one of these roles : </b><br/>OrganizationAdmin<br/><br/>If you are an <b>association</b>, you can obtain these roles with your client.<br/>If you are a <b>partner</b>, you can obtain these roles by the authorize flow.<br/><br/><b>Your clientId must be allowed all of those privileges : </b> <br/> AccessTransactions<br/><br/>",
                "operationId": "Orders_GetOrganizationItems",
                "consumes": [],
                "produces": [
                    "application/json",
                    "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "text/csv"
                ],
                "parameters": [
                    {
                        "name": "organizationSlug",
                        "in": "path",
                        "description": "The organization slug",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "First Date Filter",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End Date Filter",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userSearchKey",
                        "in": "query",
                        "description": "Filter results on user or payer first name, last name or email",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The page of results to retrieve",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The number of items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 20
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Continuation Token from which we wish to retrieve results",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tierTypes",
                        "in": "query",
                        "description": "The type of tiers Donation, Payment, Registration, Membership, MonthlyDonation, MonthlyPayment, OfflineDonation, Contribution, Bonus",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "itemStates",
                        "in": "query",
                        "description": "The item states",
                        "required": false,
                        "items": {},
                        "collectionFormat": "multi",
                        "type": "array"
                    },
                    {
                        "name": "tierName",
                        "in": "query",
                        "description": "The name of a tier",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "withDetails",
                        "in": "query",
                        "description": "Set to true to return CustomFields and Options",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "description": "Sort organizations items by ascending or descending order. Default is descending",
                        "required": false,
                        "type": "string",
                        "default": "Desc",
                        "enum": [
                            "Asc",
                            "Desc"
                        ]
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Sort organizations items by a specific field (Date or UpdateDate). Default is date",
                        "required": false,
                        "type": "string",
                        "default": "Date",
                        "enum": [
                            "Date",
                            "UpdateDate",
                            "CreationDate"
                        ]
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "You can override the JWT used fo authorization here. ie : Bearer JWT_TOKEN",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get organization order items",
                        "schema": {
                            "$ref": "#/definitions/HelloAsso.Api.V5.Models.Common.ResultsWithPaginationModelOfHelloAsso.Api.V5.Models.Statistics.Item"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "order": {
                                        "id": 12578,
                                        "date": "2019-12-15T17:27:02+01:00",
                                        "formSlug": "formulaire-exemple",
                                        "formType": "Event",
                                        "organizationName": "name",
                                        "organizationSlug": "association-exemple",
                                        "organizationType": "Association1901",
                                        "organizationIsUnderColucheLaw": false,
                                        "formName": "name",
                                        "meta": {
                                            "createdAt": "2019-12-15T17:27:02+01:00",
                                            "updatedAt": "2019-12-15T17:27:02+01:00"
                                        },
                                        "isAnonymous": false,
                                        "isAmountHidden": false
                                    },
                                    "payer": {
                                        "email": "john.doe@test.com",
                                        "address": "23 rue du palmier",
                                        "city": "Paris",
                                        "zipCode": "75000",
                                        "country": "FRA",
                                        "company": "Hello Asso",
                                        "dateOfBirth": "1986-07-06T00:00:00+02:00",
                                        "firstName": "John",
                                        "lastName": "Doe"
                                    },
                                    "payments": [
                                        {
                                            "cashOutState": "CashedOut",
                                            "shareAmount": 10000,
                                            "id": 159875,
                                            "amount": 11000,
                                            "date": "2019-12-15T17:27:02+01:00",
[...]
